<li class="category">
    <img class="category-btn category-btn-expand" ng-hide="category.expanded" ng-click="expand(category)">
    <img class="category-btn category-btn-collapse" ng-show="category.expanded" ng-click="collapse(category)">
    <a ng-click="expand(category)">{{category.name}}</a>
    <img class="category-btn category-btn-add" ng-click="createSubCategory(category)">
    <img class="category-btn category-btn-delete" ng-hide="category.name==='root'" ng-click="deleteCategory(category)">
</li>
<ul class="category" ng-show="category.expanded">
    <li ng-repeat="subCategory in category.subCategories" ng-init="category=subCategory" ng-include="'templates/category_tree.html'"></li>
</ul>
