body {
    margin:0;
    /*background-color: #1abc9c;*/
}

.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    float: left;
    /*margin: 0;
    padding: 0;*/
}

.logo:before {
    background: url("logo.png") no-repeat 0 0;
    width: 100px;
    height: 28px;
    content: " ";
    /*margin: 0;
    padding: 0;*/
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    float: left;
}

.header ul.menu li a, .header label.show-menu, .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
}

ul.menu li a {
    display: block;
    text-align: center;
}

ul.menu li a:hover:not(.active) {
    background-color: #111;
}

ul.menu li a.active {
    background-color: #4CAF50;
}

.header label.show-menu {
	display: none;
}

.header input[type=checkbox]{
    display: none;
}

.header input[type=checkbox]:checked ~ ul.menu {
    display: block;
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul.menu {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	ul.menu li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul.menu li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.header label.show-menu {
        display: inline-block;
    }
}

.content {
    padding: 40px;
    margin-top: 40px;
    /*background-color: #1abc9c;*/
    height: 100%;
}

.catalog {
    height: 300px;
    width: 100%;
}

.tree{
    float: left;
    overflow-y: auto;
    height: 100%;
    width: 38%;
    background: #fff6f6;
    border-style: double;
}

.cat-details {
    float: right;
    height: 98%;
    width: 60%;
}

.cat-products {
    overflow-y: auto;
    height: 40%;
    background: #fff6f6;
    border-style: double;
}

.all-products {
    overflow-y: auto;
    height: 60%;
    background: #fff6f6;
    border-style: double;
}

ul.category, li.category {
    list-style-type: none;
}

img.category-btn {
    vertical-align: middle;
    cursor: pointer;
}

img.category-btn-expand {
    content: url("expand.png");
}

img.category-btn-collapse {
    content: url("collapse.png");
}

img.category-btn-add {
    content: url("plus.png");
}

img.category-btn-delete {
    content: url("delete.png");
}